.page-body{
    font-family: sans-serif;
}

.navbar{
    text-align: center;
}

.navbar-menu{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-top: 32px; 
    margin-bottom: 32px;
}

.navbar-menu-item{
    display: inline-block;
}
  
.navbar-menu-item + .navbar-menu-item {
	margin-left: 72px;
}

.navbar-menu-link{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.main-simple-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-title{
    margin-top: 49px;
    margin-bottom: 38px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.container{
    width: 1145px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-subtitle{
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 0;
    color: #373737;
}

.main-subtitle-last{
    margin-top: 28px;
    margin-bottom: 0;
}

.start-link{
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    margin-top: 66px;
    margin-bottom: 42px;
    padding: 18px 43px 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
}

.page-footer{
    padding-top: 40px;
    padding-bottom: 29px;
}

.copyright-footer{
    text-align: right;
}

.copyright-text{
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin-right: 75px;
    color: #373737;
}