.page-body{
    font-family: sans-serif;
}

.wrapper{
    width: 1280px;
    margin: 0 auto;
}

.page-header{
    margin-bottom: 48px;
}

.logo{
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.logo span{
    color: #4BCAFF;
}

.navbar{
    margin-top: 40px;
}
.navbar-menu{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #35444F;
}

.navbar-menu-item{
    display: flex;
}

.navbar-menu-link{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 24px 37px 18px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #35444F;
}

.main-wrapper{
    display: inline-flex;
}

.sidebar{
    margin-right: 52px;
    height: max-content;
}

.sidebar-menu{
    width: 344px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    border: 1px solid #000000;
}

.sidebar-item{
    display: flex;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 44px;
}

.sidebar-link{
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.container{
    width: 885px;
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
} 

.section-logo-image{
    display: block;
}

.section-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #2C2C2C;
}

.section-text-first{
    padding-top: 37px;
    padding-bottom: 34px;
}

.page-footer{
    margin-top: 51px;
}

.section-footer{  
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    background: rgba(99, 105, 110, 0.48);
}

.navbar-footer{
    width: 875px;
    display: flex;
    justify-content: space-between;
}

.footer-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    margin: 0;
}

.footer-menu-item{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-menu-link{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.copyright-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    color: #010101;
}