/* General */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.page-body {
    font-family: 'Montserrat';
}

.page-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.work-button.disable {
    display: none;
}

/* [Start] section Header/Home */

.page-header {
    background: url(../img/section_header/section_header_back.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
}

.header-menu-wrapper {
    background: rgba(94, 93, 88, 0.60);
}

.header-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    padding: 27px 0;
    display: flex;
    align-items: center;
    gap: 6px;
}

.header-logo-back{
    width: 58px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    background: url(../img/section_header/logo_back.svg) center/cover no-repeat;
}

.header-logo-text {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: #fff;
}

.header-logo-text .text-green{
    font-weight: bold;
}

.navbar {
    display: flex;
    gap: 21px;
}

.navbar-menu {
    display: flex;
    gap: 21px;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.navbar-menu-item {
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
}

.navbar-menu-item:hover::after {
    content: '';
    top: 70px;
    position: absolute;
    width: 100%;
    left: 0;
    border-bottom: 2px solid #18cfab;
}

.navbar-menu-link {
    color: rgba(255, 255, 255, 0.60);
}

.navbar-menu-link:hover {
    color: #18CFAB;
}

.header-info-wrapper {
    margin-top: 251px;
    margin-bottom: 243px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 129px;
}

.header-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.text-small {
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
}

.text-small>span {
    color: #18CFAB;
}

.text-big {
    font-size: 78px;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
}

.text-thin {
    font-size: 34px;
    font-weight: 400;
    margin: 0;
    color: #D4D4D4;
}

.header-info-buttons {
    display: flex;
    gap: 26px;
}

.info-buttons-wrapper {
    width: 169px;
    height: 64px;
    border-radius: 5px;
    position: relative;
    background-color: #FFFFFF;
    cursor: pointer;
}

.button {
    font-size: 15px;
    font-weight: 700;
    padding: 16px 11px;
    text-transform: uppercase;
    color: #FFF;
    height: 63px;
    line-height: 32px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    cursor: pointer;
}

.button.button-green {
    background-color: #18CFAB;
}

.button.button-blue {
    background-color: #00CBF6;
}

/* [End] section Header/Home */

/* [Start] section Options */

.four-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 377px;
    padding: 8px 0;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option.option-dark {
    background: #1C2A33;
    color: #18CFAB;
    padding-top: 87px;
    gap: 48px;
}

.option.option-light {
    background: #18CFAB;
    color: #FFFFFF;
    padding-top: 97px;
    gap: 59px;
}

.option-text {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

/* [End] section Options */

/* [Start] section Services */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
    padding-bottom: 91px;
}

.standart-section-title {
    position: relative;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin: 0;
    font-weight: normal;
}

.standart-section-title::after,
.standart-section-title::before {
    content: '';
    position: absolute;
    bottom: -26px;
    left: 50%;
    height: 1px;
    width: 78px;
    background: #18cfab;
    transform: translateX(-60%);
}

.standart-section-title::before {
    bottom: -30px;
    right: 50%;
    left: unset;
    transform: translateX(60%);
}

.services-tabs {
    width: 100%;
    padding-left: 0;
    display: flex;
    cursor: pointer;
    margin: 101px 0 0 0;
}

.service-tab-title {
    position: relative;
    padding: 27px 0;
    background: #f8fcfe;
    border: 1px solid #edefef;
    flex: 1 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #717171;
}

.service-tab-title:hover {
    border: 1px solid #18CFAB;
}

.service-tab-title.active {
    border: 1px solid #18cfab;
    background: #18cfab;
    color: #fff;
}

.service-tab-title.active::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -28px;
    border: 15px solid transparent;
    border-top: 15px solid #18cfab;
}

.services-tabs-content {
    margin: 25px 0 0 0;
    padding-left: 0;
}

.service-tab {
    display: flex;
    gap: 15px;
    display: none;
}

.service-tab.active {
    display: flex;
}

.service-tab-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    text-align: justify;
}

/* [End] section Services */

/* [Start] section Offer */

.offer {
    display: flex;
    background: url(../img/section_offer/offer_back.jpg) center/cover no-repeat;
}

.offer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 127px 0;
}

.offer-title {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    color: #18CFAB;
}

.offer-text {
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12px;
    margin-bottom: 62px;

}

/* [End] section Offer */

/* [Start] section Work */

.work {
    background-color: #E9EDEF;
    padding-top: 96px;
    padding-bottom: 99px;
}

.work-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.work-filter {
    margin-top: 97px;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-filter-item {
    flex: 0 0 160px;
    padding: 28px 0;
    background: #e9edef;
    border: 1px solid #dadada;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

.work-filter-item:first-child {
    flex: 0 0 90px;
}

.work-filter-item.active,
.work-filter-item:hover {
    border: 1px solid #18cfab;
    color: #18cfab;
}

.work-images-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 70px 0;
}

.work-images-item {
    display: grid;
    grid-template-columns: 285px;
    grid-template-rows: 205px;
}

.work-images-item.back {
    opacity: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    backface-visibility: hidden;
    background: #e1e4e6;
}

.work-images-item.front {
    grid-row-start: 1;
    grid-column-start: 1;
    cursor: pointer;
}

.work-images-item:hover .front {
    opacity: 0;
}

.work-images-item:hover .back {
    opacity: 1;
}

.work-images-item-img img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.work-content-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.work-content-item-text::before {
    content: '';
    position: absolute;
    height: 2px;
    background: #18cfab;
    top: 0;
    left: 0;
}

.work-content-item-text:hover::before {
    width: 100%;
}

.work-content-item-text:hover::after {
    height: 100%;
}

.work-text-circles {
    display: flex;
    gap: 10px;
    margin: 46px 0 24px;
    list-style: none;
    padding-left: 0;
}

.work-text-circles li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #18cfaa;
    width: 50px;
    height: 50px;
}

.work-text-circles div {
    width: 50px;
    height: 50px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-text-circles .button-circle-white {
    color: #18cfab;
    cursor: pointer;
}

.work-text-circles .button-circle-green {
    color: #fff;
    background: #18cfab;
    cursor: pointer;
}

.work-text-circles .button-circle-white:hover {
    color: #fff;
    background: #18cfab;
}

.work-text-circles .button-circle-green:hover {
    color: #18cfab;
    background: none;
}

.work-text-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.work-text-title-subtitle {
    margin: 10px 0 34px 0;
    font-size: 12px;
    color: #8a8a8a;
    line-height: 25px;
    text-transform: capitalize;
}

.work-button {
    display: flex;
    height: 60px;
    font-size: 15px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    width: 170px;
    background-color: #18cfab;
}

.fa-plus {
    font-size: 20px;
    margin-right: 10px;
}

.text-green {
    color: #18cfab;
}

/* [End] section Work*/

/* [Start] section News*/

.breaking-news {
    padding-top: 84px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breaking-news-content {
    list-style: none;
    padding-left: 0;
    margin-top: 100px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 33px;
    grid-row-gap: 45px;
    text-align: center;
}

.breaking-news-link {
    cursor: pointer;
}

.breaking-news-image {
    display: flex;
    position: relative;
}

.breaking-news-date {
    padding: 15px 11px;
    width: 70px;
    height: 70px;
    background: #203e38;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.breaking-news-text {
    margin-top: 3px;
}

.breaking-news-link:hover .breaking-news-date {
    background: #18cfab;
}

.breaking-news-title {
    font-size: 18px;
    line-height: 39px;
    padding-left: 10px;
    text-align: left;
    color: #717171;
    margin: 0;
}

.breaking-news-link:hover .breaking-news-title {
    color: #18cfab;
}

.breaking-news-subtitle {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.subtitle-author {
    border-right: 1px solid #777;
}

.subtitle-author,
.subtitle-comment {
    margin: 0;
    padding: 0 10px;
}

/* [End] section News */

/* [Start] section Feedback */

.feedback {
    padding: 98px 0;
    background: url(../img/section_feedback/feedback_back.png) center/cover no-repeat;
}

.feedback-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.white-text {
    color: #FFFFFF;
}

.slider-text {
    color: #BBBBBB;
    font-weight: 300;
    line-height: 30px;
    margin: 37px 0;
}

.slider {
    margin: 100px 0 0;
    width: 100%;
}

.slider-content {
    height: 450px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.slider-item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    opacity: 0;
    transition: all ease 0.5s;
    top: 50px;
}

.slider-item.active {
    opacity: 1;
    top: 0;
}

.slider-info-name {
    text-transform: uppercase;
    color: #18cfab;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.slider-info-job {
    color: #BBBBBB;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    margin: 0;
}

.slider-info-foto {
    margin: 38px 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 10px solid #18cfaa3b;
    overflow: hidden;
    user-select: none;
}

.slider-info-foto img,
.item-foto img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.slider-carousel {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.carousel-foto-wrapper {
    width: 320px;
    height: 90px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.carousel-foto-content {
    margin: 0;
    padding-left: 0;
    position: absolute;
    list-style: none;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateX(-160px);
}

.item-foto {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #18cfaa3b;
    transition: all ease 0.3s;
    cursor: pointer;
    position: relative;
    top: 0;
}

.item-foto.active {
    width: 70px;
    height: 70px;
    position: relative;
    top: -10px;
    transition: all 0.3s;
    border: 5px solid #18cfaa;
}

.slider-arrow {
    width: 30px;
    height: 30px;
    font-size: 12px;
    border: 1px solid #18cfaa8a;
    color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-arrow:hover {
    background: #18cfab;
    color: #fff;
}

/* [End] section Feedback */

/* [Start] section Footer */

.footer {
    background-color: #22353F;
    display: flex;
    text-align: center;
}

.footer-copyright {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.text {
    color: #AEAEAE;
}

.ham {
    color: #18CFAB;
}

/* [End] section Footer */


/* [Start] section Loader */

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: #00000098;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.loader-wrapper.enable {
    display: flex;
    transition: all 0.3s;
}

.loader {
    -webkit-perspective: 700px;
    perspective: 700px;
}

.loader>span {
    font-size: 130px;
    font-family: "franklin gothic medium", sans-serif;
    display: inline-block;
    animation: flip 2.6s infinite linear;
    transform-origin: 0 70%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

@keyframes flip{
	35%{
		transform: rotateX(360deg);
	}
	100%{
		transform: rotatex(360deg);
	}
}


.loader>span:nth-child(even){
	color:white;

}

.loader>span:nth-child(2){
	animation-delay: 0.3s;
}

.loader>span:nth-child(3){
	animation-delay: 0.6s;
}

.loader>span:nth-child(4){
	animation-delay: 0.9s;
}

.loader>span:nth-child(5){
	animation-delay: 1.2s;
}

.loader>span:nth-child(6){
	animation-delay: 1.5s
}

.loader>span:nth-child(7){
	animation-delay: 1.8s
}

/* [End] section Loader*/
