*{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}

#findIPButton{
    padding: 15px 20px;
    background-color: hsl(0, 62%, 50%);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.location-info{
    padding: 0 15px 15px 15px;
    margin-bottom: 0;
    background-color: hsl(0, 2%, 12%);
    color: white;
    border-radius: 15px;
}

.location-info__title{
    text-align: center;
    color: white;
    font-weight: 600;
    margin-bottom: 8px;
}

.location-info__text{
    margin-right: 60px;
    margin-left: 30px;
}