.page-body{
    font-family: sans-serif;
    background-color: #171717;
}

.page-wrapper{  
    width: 1460px;
    margin: 0 auto;
}

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
    margin-bottom: 120px;
}

.more-info{
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    background-color: #171717;
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 25px;
}

.contact::before{
    content: url(../img/icon_phone.png);
    padding-right: 8px;
}

.describe{
    margin-bottom: 161px;
}

.section-title{
    font-size: 50px;
    line-height: 28px;
    margin: 0;
    color: #FFFFFF;
}

.section-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;
    margin-bottom: 41px;
    color: #FFFFFF;
}

.describe-grid-container{
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-auto-rows: 468px;
    row-gap: 27px; 
}

.first-raw{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
 
.describe-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    color:#FFFFFF
}

.describe-first{
    background-color: #634F2C;
}

.describe-second{
    background-color: #B4A385;
}

.describe-third{
    background-color: #E4B564;
}

.second-raw{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 30px;
  }   

.describe-fourth{
    background-color: #635A4A;
}

.describe-fifth{
    background-color: #B08C4D;
}

.machinery-park{
    margin-bottom: 191px;
}

.machinery-grid-container{
    list-style: none;
    padding-left: 0;    
    margin-top: 91px;
    margin-bottom: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px; 
}

.first-column{
    display: grid;
    grid-template-rows: 313px 560px;
    row-gap: 24px;
}

.machinery-text{
    padding-top: 44px;
    padding-left: 52px;
    margin: 0;

    height: 100%;
    font-size: 20px;
    line-height: 25px;
    text-align: start;
}

.machinery-text-first{
    color: #FFFFFF;
    background-color: #0E0E0E;
}

.machinery-text-second{
    font-weight: 500;
    color: #FFFFFF;
    background-color: #1F1F1F;
}

.second-column{
    display: grid;
    grid-template-rows: 439px 425px;
    row-gap: 33px;
}

.machinery-text-third{
    color: #FFFFFF;
    background-color: #242424;
}

.machinery-text-fourth{
    font-weight: 500;
    background-color: #E4B564;
}

.third-column{
    display: grid;
    grid-template-rows: 255px 313px 277px;
    row-gap: 26px;
}

.machinery-text-fifth{
    font-weight: 500;
    color: #FFFFFF;
    background-color: #1F1F1F;
}

.machinery-text-sixth{
    font-weight: 500;
    color: #FFFFFF;
    background-color: #0E0E0E;
}

.machinery-text-seventh{
    font-weight: 700;
    color: #FFFFFF;
    background-color: #0A0909;
}

.portfolio{
    padding-top: 161px;
    margin-bottom: 239px;
    background-color: #0E0E0E;
}

.portfoilio-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 61px;
}

.portfolio-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.portfolio-item{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.portfolio-wrapper{
    width: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.portfolio-text{
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.portfolio-text-work{
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: 600;
}

.portfolio-text-address{
    margin: 0;
}

.portfolio-item-first{
    background-color: #634F2C;
}

.portfolio-item-second{
    background-color: rgba(232, 210, 171, 0.76);;
}

.portfolio-item-third{
    background-color: #E4B564;
}

.portfolio-item-fourth{
    background-color: #635A4A;
}

.portfolio-item-fifth{
    background-color: #B08C4D;
}

.portfolio-item-sixth{
    background-color: #634F2C;
}