button{
    font-family: "Roboto", sans-serif;
    border: 1px solid #3c4242;
    border-radius: 8px;
    font-size: 16px;
    color: #8a33fd;
    // padding: 15px 50px;
    background-color: white;
    padding: 15px 50px;
} 


