.productCard{
    padding-top: 30px;
    position: relative;


    &__header{
        display: flex;
        flex-direction: column;
    }

    & img{
        width: 280px;
        height: 280px;
    }

    &__favorite{
        border: none;
        background: none;    
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__name{
        font-family: "Roboto", sans-serif;
        margin-bottom: 0;
    }

    &__price{
        font-family: "Inter", sans-serif;
        color: #f84147;
        font-size: 24px;
        margin-top: 12px;

        span{
            font-size: 16px;
        }
    }

    &__footer{
        display: flex;
        justify-content: center;
        align-items: center;

        &--inCart{
            color: white;
            background-color: #8a33fd;
        }
    }
}