.header{
    background-color: rgb(40, 36, 36);
    display: flex;
    justify-content: center;

    &-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .logo{
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    &__icons{
        display: flex;
        gap: 20px;
        font-family: "Inter", sans-serif;

        &--wrapper{
            display: flex;
            gap: 5px;
            align-items: center;
            color: white;
        }
    }
}
