* {
    font-family: "Roboto", sans-serif;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
    margin: 0 auto;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 15px;
    flex-grow: 1;
  }
  .card:hover {
    background-color: hsl(0, 0%, 95%);
    box-shadow: 2px 2p#f2f2f2
  }
  
  .card-title {
    font-style: italic;
    font-weight: 600;
  }

  .card a {
    text-decoration: none;
    font-weight: 700;
    color: hsl(0, 0%, 50%);
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
  }
  
  .delete-button:hover {
    background-color: #ca372d;
  }
  