.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    background-color: #7F7F7F;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: white;
    position: relative;
    width: 500px;
    padding: 56px;

    &__header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image{
        width: 276px;
        height: 140px;
        background: #d9d9d9;
        margin-bottom: 85px;
    }
    
    .close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 0;
        font-size: 0;
        width: 26px;
        height: 21px;
        border: none;
        padding: 0;
        background-color: transparent;
    }

    &__body{
        text-align: center;
    }

    h1{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 32px;
        color: #191919;
        margin-top: 0;
        margin-bottom: 37px;
    }

    p{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #7f7f7f;
        margin-top: 0;
    }

    &__footer{
        display: flex;
        justify-content: center;
        gap: 64px;
        margin-top: 65px;
        
        button:first-child{
             background-color: #8a33fd;
             border: 1px solid #8a33fd;;
             color: white;
        }
    }
}